---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  // Un único parámetro...con el nombre de archivo [id].astro
  //   return [
  //     { params: { id: "techworld" } },
  //     { params: { id: "gadgethub" } },
  //     { params: { id: "techgear" } },
  //     { params: { id: "gadgetgalaxy" } },
  //   ];
  // -------------------------------------------
  // Múltiples parámetros...con el nombre de archivo [id]-[name].astro
  return [
    { params: { id: "techworld", name: "Tech-World", city: "Donostia" } },
    { params: { id: "gadgethub", name: "GadgetHub", city: "Bilbo" } },
    { params: { id: "techgear", name: "TechGear", city: "Gasteiz" } },
    { params: { id: "gadgetgalaxy", name: "Gadget Galaxy", city: "Iruña" } },
  ];
}

const { id } = Astro.params;
---

<Layout title={`Vendedor - ${id}`}>
  <h1 class="text-3xl font-bold">Página detalle del Vendedor #{id}</h1>
</Layout>
