---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog :: ASTRO-TechBazar">
  <section class="grid md:grid-cols-2 gap-8">
    <div>
      <h1 class="text-3xl font-bold">Blog</h1>

      <p class="text-justify">
        Aprendiendo de tecnología...
      </p>

      <div class="mt-4">
        <a href="/blog/first-article" class="px-2 pb-1 border border-white rounded">Un Primer Artículo</a>
      </div>

      <div class="mt-4">
        <a href="/blog/second-article" class="px-2 pb-1 border border-white rounded">Un Segundo Artículo</a>
      </div>

      <div class="mt-4">
        <a href="/blog/third-article" class="px-2 pb-1 border border-white rounded">Un Tercer Artículo</a>
      </div>
    </div>
  </section>
</Layout>
