---
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
  // Un único parámetro...con el nombre de archivo [id].astro
  //   return [
  //     { params: { id: "techworld" } },
  //     { params: { id: "gadgethub" } },
  //     { params: { id: "techgear" } },
  //     { params: { id: "gadgetgalaxy" } },
  //   ];
  // -------------------------------------------
  // Múltiples parámetros...con el nombre de archivo [id]-[name].astro
  return [
    {
      params: {
        lang: "en",
        id: "techworld",
        name: "Tech-World",
        city: "Donostia",
      },
    },
    {
      params: {
        lang: "es",
        id: "techworld",
        name: "Tech-World",
        city: "Donostia",
      },
    },

    {
      params: { lang: "en", id: "gadgethub", name: "GadgetHub", city: "Bilbo" },
    },
    {
      params: { lang: "es", id: "gadgethub", name: "GadgetHub", city: "Bilbo" },
    },

    {
      params: { lang: "en", id: "techgear", name: "TechGear", city: "Gasteiz" },
    },
    {
      params: { lang: "es", id: "techgear", name: "TechGear", city: "Gasteiz" },
    },

    {
      params: {
        lang: "en",
        id: "gadgetgalaxy",
        name: "Gadget Galaxy",
        city: "Iruña",
      },
    },
    {
      params: {
        lang: "es",
        id: "gadgetgalaxy",
        name: "Gadget Galaxy",
        city: "Iruña",
      },
    },
  ];
}

const { lang, id } = Astro.params;
---

<Layout title={`Vendedor - ${id}`}>
  <h1 class="text-3xl font-bold">
    Página detalle del Vendedor #<span class="text-cyan-500">{lang}</span> - #<span
      class="text-cyan-500">{id}</span
    >
  </h1>
</Layout>
