---

---

<header class="bg-gray-800 h-20">
  <nav
    class="max-w-3xl mx-auto flex justify-between items-center h-full text-cyan-500"
  >
    <a href="/" class="text-xl font-bold">ASTRO-TechBazar</a>

    <ul class="flex gap-4">
      <li class="mb-0.5">
        <a href="/sellers" class="hover:underline">Sellers (static)</a>
      </li>
      <li class="mb-0.5">
        <a href="/sellers-dinamic" class="hover:underline">Sellers (dinamic)</a>
      </li>
      <li class="border-l-2 border-white"></li>
      <li class="mb-0.5">
        <a href="/blog" class="hover:underline">Blog</a>
      </li>
    </ul>
  </nav>
</header>
