---

---

<header class="bg-gray-800 h-20">
  <nav
    class="max-w-3xl mx-auto flex justify-between items-center h-full text-cyan-500"
  >
    <a href="/" class="text-xl font-bold">ASTRO-TechBazar</a>

    <ul>
      <li>
        <a href="/blog" class="hover:underline">Blog</a>
      </li>
    </ul>
  </nav>
</header>
